{% extends 'main/base.html' %}
{% block style %}
    <style>
        .app-stat-menu {
            text-align: center;
            padding:10px;
        }
        .app-stat-menu span {
            padding: 0 5px;
        }
        .patch-select {
            display: none;
        }
        #patchBtn {
            font-size: 14px;
            line-height: 14px;
            padding: 7px 12px;
            margin-left: 10px;
        }
        .app-stat-detail {
            padding: 10px;
            text-align: center;
        }
        .app-stat-detail p {
            padding: 5px;
            margin: 0;
        }
        .tips-empty {
            display: none;
            text-align: center;
            padding:120px;
        }
        .tips-empty span {
            display: block;
            padding:5px;
            font-size: 14px;
            color:#888;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="app-ctn">
        <h1>历史补丁</h1>
            {% for i in context %}
                <h3 class="app-history-title">App版本:{{ i.0.app_version }}</h3>
                <table>
                    <tr>
                        <th style="width:70px">补丁版本</th>
                        <th>描述</th>
                        <th style="width:70px">更新时间</th>
                        <th style="width:40px">大小</th>
                        <th style="width:70px">操作</th>
                    </tr>
                        {% for j in i.1 %}
                            <tr>
                                <td>{{ j.patch_version }}</td>
                                <td>{{ j.description }}</td>
                                <td>{{ j.modified_time }}</td>
                                <td>{{ j.size }}KB</td>
                                <td><a href="{% url 'histroy_details' app.id j.id %}" class="btn btn-primary">详情</a></td>
                            </tr>
                        {% endfor %}
                </table>
            {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $("#histroy").addClass('active');
        $('[data-toggle="tooltip"]').tooltip();

        var fillPadding = function() {
            $('#fill').height($('#fill').height() + window.innerHeight - ($('.main').offset().top + $('.main').height() + $('.ft').height()))
        };
        $(window).resize(fillPadding);
        fillPadding();
        $('.ft').show();
    </script>
{% endblock %}